.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px cyan;
}
.heading_div {
  float:none;
  background: pink;
  padding: 10px;
  border-radius: 20px;
  color: white;
  box-shadow: 5px 5px 5px cyan;
}
.heading_div2{
    font-size: 18px;
}
.result{
  box-shadow: 5px 5px 5px cyan;
  font-size: 20px;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  color: pink;
  background: cyan;
  text-align: center;
  line-height: 3;
}
canvas{
  border-radius: 20px;
  box-shadow: 5px 5px 5px cyan;
  margin-top: 150px;
  border:5px solid pink;
}